<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./styles/register.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
          integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
          crossorigin="anonymous"></script>
</head>
<body>
<main class="form-register">
  <div class="register-card">
    <div class="text-center">
      <h1 class="brand-title">Create Account</h1>
    </div>
    <form id="registerForm">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingName" placeholder="Full Name" required>
        <label for="floatingName">Full Name</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingAccountNo" placeholder="43304-40493-40304-05094" required>
        <label for="floatingAccountNo">Account Number</label>
      </div>
      <div class="form-floating">
        <input type="tel" class="form-control" id="floatingTel" placeholder="Telephone Number" required>
        <label for="floatingTel">Telephone Number</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control" id="floatingAddress" placeholder="Address" style="height: 100px" required></textarea>
        <label for="floatingAddress">Address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingConfirmPassword" placeholder="Confirm Password" required>
        <label for="floatingConfirmPassword">Confirm Password</label>
      </div>

      <button class="w-100 btn btn-primary mt-3" type="submit">Register</button>
      <div class="mt-4 text-center">
        <p>Already have an account? <a href="./Login.html" class="login-link">Sign in</a></p>
      </div>
    </form>
  </div>
  <div id="message" class="mt-3"></div>
</main>
<script src="./js/CustomerRegister.js"></script>
</body>
</html>